body{
    background-color: red;
    padding: 0;
    margin: 0;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.register{

    background-color: antiquewhite;
    width: 95%;
    margin: 0 auto;
    position: relative;
    border-radius: 15px;
}

.Heading h1{
color: darkblue;
text-align: center;
text-transform: capitalize;
font-weight: bolder;
padding-top: 15px;

}

.Heading{

    text-align: center;
}   

/* span{
    color: rgb(255, 0, 34);
    position: absolute;
    left: 35%

} */

.fa-eye{

    color: black;

    margin: 0 600px;
}

.password label{
    text-align: left;
    color: blue;
    position: absolute;
    left: 25%;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    
       
}

.password{

    margin-bottom: 10px;
}

input[type=password]{

width: 50%;
height: 30px;
border-style: none;
border-bottom: 2px solid darkblue;
background-color: transparent;
outline: none;
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 15px;
font-weight: bolder;

}




/* Divider Code */
.divider{

    display: flex;
    align-items: center;
    color: blue;
    text-transform: capitalize;
    width: 60%;
    margin: auto;
    padding: 15px;
    
}

.divider::before, .divider::after{

    content:"";
    padding: 1px;
    background-color: blue;
    flex: 1;
    margin:30px ;
    
}

/* social media icons code  */
.google{
    width: 60px;
    padding: 13px 35px;
}

.facebook{
    width: 30px;
    padding: 13px 0;
}


.apple{
    width: 30px;
    padding: 13px 35px;
}


/* Footer Code */

input[type=submit]{
    background-color: darkblue;
    padding: 10px 80px;
    color: white;
    font-size: 20px;
    border-radius:15px;
    margin-top: 40px;
   

}

input[type=submit]:hover{

    background-color: yellow;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.footer h4{
    color: blue;
   padding: 20px 0;
 
}


